<div class="hero-image section">

    <h3>{{ linklists.categories.title | escape }}</h3>

    <ul class="navigation-menu">
        {% for link in linklists.categories.links %}
        <li>
        {% assign child_list_handle = link.title | handleize %} {% if
        linklists[child_list_handle].links != blank %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        <div class="sub-menu">
            {% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}" class="sub-link">{{
            childlink.title | escape
            }}</a>
            {% endfor %}
        </div>
        {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
    
    <img src="{{ section.settings.image | img_url: 'master' }}">
</div>

{% schema %}
{
    "name": "Hero Image",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name":"Hero Image",
            "category": "Image"
        }
    ]
}
{% endschema %}